input[type=text]{
    width: 60%;
    padding: 0.8em;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 0.3em;
    box-sizing: border-box;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}

legend{
    font-weight: bold;
}

input[type=email]{
    width: 60%;
    padding: 0.8em;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 0.3em;
    box-sizing: border-box;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}

input[type=radio]{
    margin-top: -1px;
    vertical-align: middle;
}

.formulario{
    padding: 2%;
    font-family: 'Roboto Slab', serif;
    padding-left: center;
    text-align: center;
    line-height: 150%;
}

fieldset{
    padding: 0.2em;
}

label{
    display: inline-block;
    width: 3.8em;
    font-family: 'Roboto Slab', serif;
}

textarea{
    font-family: 'Roboto Slab', serif;
}

input[type=file]{
    size: 1%;
}
